* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Huvudinnehåll*/
main {
    max-width: 900px;
    width: 100%;
    font-size: 1.2em;
}
 footer a {
    color: white;
 }
p, h1, h2, h3 {
    max-width: 36em;
}

h1 {
    font-size: 1.5em;
    margin: 0.5em 0 0 0;
}
h2 {
    margin: 1em 0 0.3em 0;
}

h3 {
    margin: 1em 0 0.3em 0;
}

main p, q {
    font-size: 1em;
    padding: 2% 2% 2% 2%;
    line-height: 1.2em;
}

q {
    font-weight: bold; 
}
section {
    margin: 1em 0;
}

.logo {
    width: 25%;
}

.header {
    width: 100%;
}
#box1 {
    background-color: #d9d9d9;
    padding: 20px;
}
#box2 {
    background-color: white;
    padding: 20px;
}
ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}
footer {
    background-color:#013f10;
    color: white;
    padding: 1em 3em;
    height: auto;
}

/* Utseende header */
header {
    height: 80px;
    background-color: #013f10;
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin: 0;
    text-decoration: none;
}

/* Design av meny för mobilenheter, placeras till höger om skärmen */
nav {
    background-color:  #013f10;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.3em;
    position: absolute;
    right: 0;
    top: 0;
    height: 40vh;
    width: 250px;
    display: none;

}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.2em 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 0.2em;
    margin: 0.1em 0.1em;
    
}

nav li:hover {
    background-color:#f4ce14;
    cursor: pointer;
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color:#013f10;
    border: white solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color:   rgb(227, 191, 61);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: white;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

/* Main content */
main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
}

h2 {
    margin: 1em 0;
}

main p {
    font-size: 1.2em;
    line-height: 1.4em;
}


/* Media querys */

/* Större skärmas - gör menyn som inline */
@media only screen and (min-width: 1000px) {
    header {
        padding: 0 3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.1em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 0;
    }
}
/*-----------------formulär-------------------*/
#form {
    border-radius: 5px;
    background-color: #d9d9d9;
    padding: 20px;
  }
  
  input[type=text],
  select {
      /*--utseende lista med val--*/
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=email],
  select {
      /*--utseende emailruta--*/
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
      /*--utseende textruta--*/
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  input[type=date] {
    /*--utseende datum väljare--*/
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=time] {
    /*--utseende datum väljare--*/
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  input[type=submit] {
      /*--utseende skicka knapp--*/
    width: 30%;
    background-color: #EBEBEB
    color: black;
    padding: 4px 20px;
    margin: 8px 0;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
      /*--utseende skicka knapp mus över--*/
    background-color:#f4ce14;
  }
  
  input[type=reset] {
      /*--utseende radera formulär knapp--*/
    width: 30%;
    background-color: #EBEBEB;
    color: black;
    padding: 4px 20px;
    margin: 8px 0;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=reset]:hover {
      /*--utseende mus över radera knapp--*/
    background-color: #f4ce14;
  }

#expander {
    display: block;
    list-style-type: none;
    text-align: center;
}
.expanderBtn {
    position: relative;
    max-width: 700px;
    width: 100%;
    padding: 2% 0% 2% 11%;
    margin: 1%;
    background-color: #EBEBEB;
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}
button:hover {
    background-color: #F4CE14;
    cursor: pointer;
}
.arrow {
    position: absolute;
    font-size: 1.3em;
    left: 2%;
}

.textExpand {
    max-width: 690px;
    margin: 1% auto;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.4em;
    display: none;
    background-color: #EBEBEB;
}